/*utility*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid yellowgreen;
}



.container-95{
    width: 95%;
    margin: 0 auto;
}
.margin-top{
    margin-top: 100px;
}
/*main*/
#jumbotron {
    min-height: 546px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
.jumbotron-card{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 40px;
    
}
.jumbotron-img-top{
    width: 250px;
}
.container-img img, .container-img-gadget{
    height: 100%;
    border-radius: 20px;
    padding: 2px; 
    border: 2px solid white;
}
.container-img img:hover{
    border: 2px solid blue;
    padding: 2px;
}
.container-gadget{
    
    border-bottom: 2px solid white;
}
.container-gadget:hover{
    border-bottom: 2px solid blue;
    opacity: 0.5;
    

}
/*jumbotron2*/
#jumbotron2{
    min-height: 546px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    position: relative;
}
.jumbotron-card2{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 40px;
    
}
.jumbotron2-img{
    width: 250px;
}

.section-6 img{
    height: 10;
    border:2px solid #212529;
}
.section-7 img{
    height: 100%;
}

/*section 8*/
.section-8{
    background-color: #bebcbb;
}
.section-8 a{
    background-color: #d9dadc;
    color: #4071e5;

}
.section-8 .card{
    background-color: #bebcbb;
}

/*section 9*/
.section-9 img{
    height: 100%;
}

/*section 10*/
.section-10{
    background-color: #161c3b;
}

.section-10 .card{
    background-color: #161c3b;
    color: white;

}


/*footer*/
footer{
    background-color: #00439c;
    color: white;
}

footer .card{
    background-color: #00439c;
}
.footer-ul{
    display: flex;
    justify-content: space-evenly;
    
}
.footer-ul ul{
    list-style-type: none;

}


/**/